.odd {
  background-color: lightpink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#firstid {
  color: blue;
  font-size: 36px;
}

#secondid {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}

.adjust-font-size {
  font-size: 24px;
}
